body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*nav bar style */

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;

}

.nav-button ul li {
    margin-right: 20px;
    list-style: none;
}

.nav-button ul li a {
    text-decoration: none;
    color: #3C354F;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 60px;
    height: 30px;
}

.nav-logo h3 {
    margin-left: 20px;
    text-align: center;
    font-size: 2rem;

}

.nav-logo h3 span {
    color: #ff42a5;
}

.nav-social {
    border-radius: 5px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-social ul {
    padding: 0;
}

.nav-social img {
    width: 20px;
    margin-left: 10px;
}

.nav-button,
ul {
    display: flex;
    align-items: center;
}

nav ul li {
    color: #3C354F;
    font-weight: 500;
}

/*header banner style */

.header-banner {
    display: flex;
    padding: 10px 150px;
    justify-content: space-between;
    background-image: url('../images/Group14.png');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-size: 650px auto;
}

.header-content {
    margin: 60px 0px 60px 0;
    width: 50%;
}

.header-content h3 {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
}

.header-content h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}

.header-content .button1 {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 15px 30px;
    border: none;
    color: #fff;
    font-weight: 600;
    margin-right: 20px;
    text-transform: uppercase;
}

.header-content .button2 {
    display: inline-flex;
    padding: 15px 30px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.header-img {
    margin-left: 40px;
}

.header-img img {
    width: 85%;
    float: right;
}

/*online game section style*/

.online-games-content {
    text-align: center;
    margin-top: 80px;

}

.online-games-content h2 {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.online-games-content h2 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 700;
}

.online-games-content p {
    color: #534C64;
    font-weight: 400;
}

.online-games .online-game img,
.online-game {
    width: 230px;
}

.online-game {
    margin-left: 20px;
    margin-bottom: 5px;
}

.online-games {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.online-game p {
    color: #534C64;
    font-weight: 500;
    line-height: 20px;
}

.img-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: 96.5%;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0.541);
    opacity: 0;
}

.img-container .play-button i {
    position: absolute;
    font-size: 50px;
    top: 115px;
    left: 90px;
}

.img-container .play-button p {
    position: absolute;
    top: 150px;
    left: 70px;
    text-align: left;
    color: #FF42A5;
}

.img-container .play-button {
    display: none;
}

.img-container:hover .overlay {
    opacity: 1;
    border-radius: 10px;
    width: 224px;
}

.img-container:hover .play-button {
    display: block;
}

.img-container:hover img {
    border: 3px solid #F948B2;
    border-radius: 13px;
    width: 224px;
}

.play-instantly-container {
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
}

.play-instantly-content {
    width: 290px;
    margin: auto 100px auto 200px;
    text-align: right;
}

.play-instantly-content h3 {
    font-size: 2rem;
    font-weight: 700;
}

.play-instantly-content h3 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-content p {
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
}

.play-instantly-img {
    position: relative;
    margin-left: 90px;

}

.play-instantly-img .instantly-1 {
    width: 80%;
}

.play-instantly-img .instantly-2 {
    position: absolute;
    top: 300px;
    left: -110px;
    width: 35%;
}

.game-category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    padding: 50px 120px;
    gap: 20px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.game-category {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    padding: 5px 10px;
}

.game-category img {
    margin-right: 5px;
}

.game-category:hover {
    border: 3px solid #F948B2;
    color: #F948B2;
    padding: 2px 7px;
}

.game-category img {
    width: 40px;
    height: 40px;
}

footer {
    background-color: #0B0223;
    padding: 50px 0 30px 0;
}

/* 
.footer-section>.footer-logo,
.trams-and-condition,
.copyright {
    display: grid;
    justify-content: center;
    align-items: center;
}
.social-media, .about-info ul{
    display: flex;
    justify-content: center;
}

.footer-logo>.nav-logo h3 {
    color: #fff;
    margin: 10px;
} */

/* .about-info ul li,
.trams-and-condition ul li {
    margin: 0 15px;
    list-style: none;
}

.about-info ul li a {
    text-decoration: none;
    color: #fff;
}

.trams-and-condition ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}

.social-media i {
    margin: 30px 15px;
    font-size: 30px;
}

.copyright p {
    color: #fff;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    margin-top: 0;
    font-size: 0.8rem;
} */

.footer-logo{
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer-logo>.nav-logo h3 {
    color: #fff;
}

.about-info ul, .copyright p{
    display: flex;
    justify-content: center;
}
.about-info ul li{
    margin: 0 15px;
}

.about-info ul li a{
    color: #ffffff;
    text-decoration: none;
}

.social-media, .trams-and-condition ul{
    display: flex;
    justify-content: center;
}

.social-media i{
    margin: 10px 10px 0 10px;
    font-size: 30px;
}

.trams-and-condition ul li{
    margin: 0 10px;
}

.trams-and-condition ul a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}

.copyright p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.8rem;
}

@media screen and (max-width:576px) {
    .nav-button,
    ul,
    nav {
        flex-direction: column;
    }

    .nav-logo {
        justify-content: center;
    }

    .nav-logo h3 {
        margin: 0 20px;
    }

    nav {
        padding: 30px 20px;
    }

    .header-banner {
        flex-direction: column-reverse;
        padding: 20px;
        background-image: none;
    }

    .header-img {
        margin: 0;
    }

    .header-img img {
        display: block;
        margin: auto;
        width: 90%;
        float: none;
    }

    .header-content {
        width: 100%;
        background-image: url('../images/Group14.png');
        background-repeat: no-repeat;
        background-size: 100% 700px;
        padding-bottom: 50px;
        margin-bottom: 0;
    }

    .d {
        padding: 20px 50px;
    }

    .online-games {
        flex-direction: column;
        align-items: center;
    }

    .online-game {
        margin: 10px 0;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.123);
        border-radius: 8px;
    }

    .online-games-content {
        margin-top: 0;
        padding: 10px;
    }

    .online-games-content h2,
    h2 span {
        font-size: 1.5rem;
    }

    .online-game p {
        margin-top: 10px;
        padding: 0 10px;
    }

    .play-instantly-container {
        flex-direction: column;
        margin: 20px 0;
    }

    .play-instantly-content {
        margin: 30px auto 10px auto;
        text-align: center;
        display: block;
    }

    .play-instantly-content h3,
    p {
        margin-top: 0;
        padding: 0 15px;
    }

    .play-instantly-img {
        position: relative;
    }

    .play-instantly-img .instantly-1 {
        width: 90%;
    }

    .play-instantly-img .instantly-2 {
        top: 206px;
        left: -54px;
    }

    .game-category-container {
        display: grid;
        padding: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .game-category {
        padding: 5px;
        justify-self: start;
    }

    .game-category p {
        padding: 0 0 0 5px;
        margin-bottom: 0;
    }
    .about-info ul{
        display: grid;
        row-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    .trams-and-condition ul{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .trams-and-condition ul li{
        font-size: 0.8rem;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    nav {
        padding: 30px 50px;
    }

    .header-banner {
        flex-direction: column-reverse;
        padding: 20px;
        background-image: none;
    }

    .header-content {
        width: 100%;
        background-image: url('../images/Group14.png');
        background-repeat: no-repeat;
        background-size: 100% 700px;
        padding-bottom: 50px;
    }

    .d {
        padding: 20px 50px;
    }

    .header-img {
        margin: 20px 40px;
    }

    .header-img img {
        width: 100%;
    }

    .online-games {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .online-game {
        margin: 20px auto;
        box-shadow: 0 0 15px 5px rgba(148, 148, 148, 0.397);
        border-radius: 8px
    }

    .online-game p {
        margin-top: 20px;
        padding: 0 10px;
    }

    .play-instantly-container {
        flex-direction: column-reverse;
        margin: 20px 0;
    }

    .play-instantly-content {
        margin: 100px auto 20px auto;
        text-align: center;
        display: block;
        padding: 0 50px;
        width: 90%;
    }

    .play-instantly-content h3,
    p {
        margin-top: 0;
        padding: 0 15px;
    }

    .play-instantly-img {
        position: relative;
    }

    .play-instantly-img .instantly-1 {
        width: 90%;
    }

    .play-instantly-img .instantly-2 {
        top: 420px;
        left: -55px;
    }

    .game-category-container {
        display: grid;
        padding: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    .game-category {
        justify-self: start;
    }

    /* .online-game, .img-container img{
        width: 300px;
    } */

    /* .img-container, .overlay{
        display: block;
        padding: 20px 35px 0 35px;
    }
    .overlay{
        margin: 0;
    } */
}